configargparse
connexion[swagger-ui]
flask
flask_bootstrap
flask_cors
flask_debugtoolbar
flask_login
flask_mail
flask_marshmallow
flask_moment
flask_sqlalchemy
flask_wtf
marshmallow
marshmallow_sqlalchemy
python_dateutil
requests
selenium
sqlalchemy
wtforms
