<script src="{{ url_for('static', filename='js/project_list.js') }}"></script>

  <table id="projects" class="table table-responsive-sm table-bordered table-striped table-sm" style="width:100%">
    <thead>
      <tr>
        <th>
          Project Name
        </th>
        <th>
          Project Description
        </th>
        <th>
          Associated Jobs
        </th>
        <th>
          Associated Flowcharts
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
  </table>