<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>jQuery UI Datepicker - Default functionality</title>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        var availableDates = ["2-7-2021", "3-7-2021", "4-7-2021"];

        $(function () {
            $('#datepicker').datepicker({
                beforeShowDay:
                    function (dt) {
                        return [available(dt), ""];
                    }
                , changeMonth: true, changeYear: false
            });
        });

        function available(date) {
            dmy = date.getDate() + "-" + (date.getMonth() + 1) + "-" + date.getFullYear();
            if ($.inArray(dmy, availableDates) != -1) {
                return true;
            } else {
                return false;
            }
        }

    </script>
</head>

<body>

    <p>Date: <input type="text" id="datepicker"></p>


</body>

</html>