{% extends "layouts/base.html" %}

{% block title %} Tasks Plots {% endblock %}

{% block stylesheets %} {% endblock stylesheets %}

{% block content %}
<div class="pcoded-content">
  <div class="pcoded-inner-content">
    <div class="page-header">
      <div class="page-block">
        <div class="row align-items-center">
          <div class="col-md-12">
            <div class="page-header-title">
              <h5 class="m-b-10">Tasks Plots</h5>
            </div>
            <ul class="breadcrumb">
              <li class="breadcrumb-item"><a href="/"><i class="feather icon-home"></i></a></li>
              <li class="breadcrumb-item"><a href="javascript:">Tasks Plots</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="main-body" id="tasks-plots-main-body">
      <div class="row">
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h5>Histogram of Status of Tasks Queue</h5>
            </div>
            <div class="card-block">
              <div id='task_queueDiv'></div>
            </div>
          </div>
        </div>
        <div class="col-sm-12">
          <div class="card">
            <div class="card-header">
              <h5>Histogram of Managers of Tasks Queue</h5>
            </div>
            <div class="card-block">
              <div id='task_queue_managersDiv'></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
{% block javascripts %}
<script src="/static/assets/js/pages/tasks-plots.js"></script>
{% endblock javascripts %}