    <div class="content-section">
        <form method="POST" action="">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <legend class="border-bottom mb4">{{ title }}</legend>
            
                <div class="form-group">
                        {{ form.name.label(class="form-control-label") }}
                        {% if form.name.errors %}
                        {{ form.name(class="form-controlform-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.name(class="form-controlform-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                        {{ form.notes.label(class="form-control-label") }}
                        {% if form.notes.errors %}
                        {{ form.notes(class="form-controlform-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.notes.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.notes(class="form-controlform-control-lg") }}
                    {% endif %}
                </div>
            </fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
</div>
