<!-- Plugins and scripts required by this view-->
<script src= "{{ url_for('static', filename='js/util.js') }}"></script>
<script src= "{{ url_for('static', filename='js/job_report.js') }}"></script>
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/custom_flowchart.css') }}">


<div class="animated fadeIn vh-100">
    <div class="row">
      <div class="col-sm-3">
        <div class="h4 mt-3" id="job-title"></div>
        <div>Status: <span id="job-status"></span></div>
        <div class='h5 mt-3'>Browse files for job</div>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Search Files" id="search">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button" id="btn-search">Search</button>
          </span>
        </div>
        <div style="margin:15px; white-space:pre-wrap; overflow-y: auto; overflow-x: auto;" id='js-tree' class="mh-100"></div>
      </div>
      <div class="col-sm-9 mt-3 mh-100 my-2" id="view-card">
        <div class= "card h-100 mb-0 border-0" id="outer-card">
          <div id="file-name" class="card-header btn">
            Click Files to view
          </div>
          <div id ="view-card-content" class="px-2 py-2 h-100">
            <div id='file-content' class="my-0" style="overflow-y: scroll;"></div>
            <div id='structure'></div>
            <div id="cytoscape"></div>
            <table id="csv-data"></table>
          </div>
        </div>
      </div>
    </div>
  </div>