<script src="{{ url_for('static', filename='js/jobs_list.js') }}"></script>
  <table id="jobs" class="table table-responsive-sm table-bordered table-striped table-sm" style="width:100%">
    <thead>
      <tr>
        <th>
        </th>
        <th>
          Job
        </th>
        <th>
          Title
        </th>
        <th>
          Status
        </th>
        <th>
          Submitted
        </th>
        <th>
          Started
        </th>
        <th>
          Finished
        </th>
      </tr>
    </thead>
  </table>


