
<script src="static/js/flowchart_list.js"></script>
<div class="row">
  <table id="flowcharts" class="table table-responsive-sm table-bordered table-striped table-sm" style="width:100%">
    <thead>
      <tr>
        <th>
          Flowchart Title
        </th>
        <th>
          Flowchart Description
        </th>
        <th>
          Associated Jobs
        </th>
        <th>
          View
        </th>
        <th>
          Actions
        </th>
      </tr>
    </thead>
  </table>
</div>